<h1>Edit that bean!</h1>

<%= render 'form' %>

<%= link_to "Delete that bean!", bean_path, method: :delete,
 data: { confirm: "Are u really really gonna delete dat bean?" } %>
<br>
<%= link_to "Back to the list!", beans_path %>
